.container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;

}

.left-column {
    flex: 3;
}

.right-column {
    flex: 1;
}

footer {
    display:flex;
    justify-content:center;
}

.underline {
    text-decoration:underline;
    margin-right: 1px;
}

.source {
    text-decoration: none;
    color:aqua;
}

.source:hover {
    color:red;
    text-decoration:underline;
}

