<div class="container">

  
  <!-- 
  <div class="left-column">
      (name)="onNameChange($event)"
      (capital)="onCapitalChange($event)"
      (region)="onRegionChange($event)"
      (income)="onIncomeChange($event)"
      (latitude)="onLatitudeChange($event)"
      (longitude)="onLongitudeChange($event)"

  </div>-->


  <!--<div class="right-column">
    <app-world-info 
      [name]="name"
      [capital]="capital"
      [region]="region"
      [income]="income"
      [latitude]="latitude"
      [longitude]="longitude"
     
      
    ></app-world-info>


  </div> -->


</div>

<footer class="footer-source">
  Information Provided By:
  <a href="https://www.worldbank.org/en/home">World Bank</a>
</footer>