<div class="container">

  
 
  <div class="left-column">
      <app-world
      (name)="onNameChange($event)"
      (capital)="onCapitalChange($event)"
      (region)="onRegionChange($event)"
      (income)="onIncomeChange($event)"
      (latitude)="onLatitudeChange($event)"
      (longitude)="onLongitudeChange($event)"
      ></app-world>
  </div> <!--On Click-->


  <div class="right-column">
    <app-world-info 
      [name]="name"
      [capital]="capital"
      [region]="region"
      [income]="income"
      [latitude]="latitude"
      [longitude]="longitude"
     
      
    ></app-world-info>


  </div> <!--Information-->


</div>

<footer class="footer-source">
  <span class="underline">Information Sourced From: </span>
  <a class="source" href="https://www.worldbank.org/en/home"> World Bank</a>
</footer>